
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
html {
  background-color: #f7ecde;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

#nav {
  background-color: #f7ecde;
}

#nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
  box-shadow: 0 0 10px gray;
  margin: 0;
}

#nav ul .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
  justify-content: right;
  padding: 10px;
}

#nav ul li {
  padding: 7px;
}

#nav ul li a {
  text-decoration: none;
  color: black;
}

#nav ul li a:hover {
  color: blue;
}
.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.the-loai {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
/* #nav1 .bang {
  padding: 50px;
  align-items: center;
}

#nav1 .bang .form-control {
  border: 3px solid transparent;
} */

#nav2 {
  display: flex;
  justify-content: center;
}

.truyen {
  width: 16%;
  float: left;
  margin-left: 3%;
  margin-top: 20px;
  border-radius: 5px;
  height: 450px;
  text-align: center;
}

.truyen .img img {
  width: 100%;
}
.name a {
  text-decoration: none !important;
  color: #005555 !important;
  font-weight: 400;
}
.dropdown {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06))
    repeat scroll 0 0 #f2f2f2;
  border-color: #ffffff #f7f7f7 #f5f5f5;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  display: inline-block;
  height: 28px;
  overflow: hidden;
  position: relative !important;
  width: 250px;
}
.dropdown:before,
.dropdown:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #888888 rgba(0, 0, 0, 0);
  border-image: none;
  border-style: dashed;
  border-width: 4px;
  content: "";
  height: 0;
  pointer-events: none;
  position: absolute !important;
  right: 10px;
  top: 9px;
  width: 0;
  z-index: 2;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: medium none;
}
.dropdown:after {
  border-bottom: medium none;
  border-top-style: solid;
  margin-top: 7px;
}
.dropdown-select {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: 0 none;
  border-radius: 0;
  color: #62717a;
  font-size: 12px;
  height: 28px;
  line-height: 14px;
  margin: 0;
  padding: 6px 8px 6px 10px;
  position: relative !important;
  text-shadow: 0 1px #ffffff;
  width: 130%;
}
.dropdown-select:focus {
  color: #394349;
  outline: 2px solid #49aff2;
  outline-offset: -2px;
  width: 100%;
  z-index: 3;
}
.dropdown-select > option {
  background: none repeat scroll 0 0 #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
}
