.danhsachtruyen {
  width: auto;
  margin: auto;
  margin-top: 50px;

  flex: auto;
}
.danhsachtruyen table {
  border: 1px solid #dddddd;
  justify-self: center;
}
.danhsachtruyen h3 {
  background: #009688;
  color: #fff;
  text-align: center;
  padding: 5px;
}
